@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.nav_active {
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
    padding-bottom: 12px;
}

.header_logo{ 
    max-height: 30px;
}

.cart_logo{
    max-height: 20px;
}

.raleway {
    font-family: Raleway;
}

#cart {
    z-index: 10;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #55d85d #ffffff;
    max-height: 70vh;
    min-height: auto;
}

#cart::-webkit-scrollbar {
    width: 10px;
}

#cart::-webkit-scrollbar-track {
    background: #ffffff;
}

#cart::-webkit-scrollbar-thumb {
    background-color: #55d85d;
    border-radius: 31px;
    border: 3px solid #ffffff;
}

.attribute-options button {
    border-radius: 4px;
    transition: border 0.2s;
}

.attribute-options button:hover {
    border: 2px solid #007BFF;
}

.attribute-options {
    display: flex;
    flex-wrap: wrap;
}